body{
    background-image: url(../images/giphy1.gif);
}
h1 {
    color: orange
}
input[type=number] {
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: mediumspringgreen;
    color: maroon;
    border-radius: 8px;
}    
input[type=submit] {
    width: 45%;
    margin: 8px 0;

}
input[id=answer] {
    text-align: center;
    text-size-adjust: 12px;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
fieldset{
    align-content: center;
    width: 10%;
}
input{
    align-items: center;
}
img{
    float: left;
    border-radius: 8px;
    border: 10px darkslategray;
    padding: 100px;

}
p{
    font-size: 30px;
}